.calendar-dialog {
  padding: 8px;
  border-radius: 4px;
  width: 396px;

  .custom-buttons {
    display: flex;
    gap: 10px 20px;
    padding: 10px;

    button {
      width: 174px;
      height: 36px;
      background-color: #EDF8FF;
      color: #1DA1F2;
      border: none;
    }

    button.selected {
      background-color: #1DA1F2 !important;
      color: #fff !important;
    }
  }

  .calendar-header {
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: center;
  }


  .calendar-days {

    .selected {
      background-color: #007bff;
      color: white;
      border-radius: 32px;
    }

    .selected:hover {
      background-color: #007bff;
      color: white;
    }

    .disabled {
      color: #ccc;
      cursor: not-allowed;
    }
  }


  .calendar-body {
    display: flex;
    flex-direction: column;
    width: 100%; 
    height: auto; 
    overflow: hidden; 
  }

  .calendar-day-names,
  .calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    flex: 1; 
  box-sizing: border-box;
  }

  .calendar-day-names div,
  .calendar-days div {
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
  }


  .calendar-days div:hover {
    background: #f1f1f1;
    cursor: pointer;
  }

  .calendar-bottom {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 9px;
    height: 55px;
    border-top: 1px solid #ccc;
  }

  .selected-date {
    flex-grow: 1;
    justify-content: flex-start;
    display: flex;
    gap: 10px;
  }

  .actions {
    display: flex;
    gap: 10px;

    button.save {
      background-color: #1DA1F2 !important;
      color: #fff !important;
    }
  }
}


.disabled {
  background: #f1f1f1 !important;
  cursor: not-allowed !important;
}


/* Media Queries for Responsiveness */
@media (max-width: 600px) {
  .calendar-day-names div,
  .calendar-days .calendar-day-item {
    padding: 8px; 
    font-size: 0.9rem;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .calendar-day-names div,
  .calendar-days .calendar-day-item {
    padding: 12px; 
    font-size: 1rem; 
  }
}

@media (min-width: 1025px) {
  .calendar-day-names div,
  .calendar-days .calendar-day-item {
    padding: 15px; 
    font-size: 1.1rem; 
  }
}

