

<div class="calendar-dialog"  fxLayout="column" fxLayoutAlign="start stretch">
<div class="calendar" *ngIf="data.calendarVisible" fxLayout="column" fxLayoutGap="16px" >
       
          <div class="custom-buttons" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px">
            <button *ngIf="!data.toDate" [ngClass]="{'selected': selectedButton === 'noDate'}" (click)="setNoDate()">No Date</button>
        <button [ngClass]="{'selected': selectedButton === 'today'}" (click)="setToday()">Today</button>
          <button *ngIf="data.toDate" [ngClass]="{'selected': selectedButton === 'nextMonday'}" (click)="setNextMonday()">Next Monday</button>
        </div>
        <div *ngIf="data.toDate" class="custom-buttons"  fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px">
          <button [ngClass]="{'selected': selectedButton === 'nextTuesday'}" (click)="setNextTuesday()">Next Tuesday</button>
          <button [ngClass]="{'selected': selectedButton === 'afterOneWeek'}" (click)="setAfterOneWeek()">After One Week</button>
        </div>
        <!-- <mat-calendar #calendar></mat-calendar> -->
        <div class="calendar-header"  fxLayout="row" fxLayoutAlign="space-between center">
          <mat-icon (click)="prevMonth()">arrow_left</mat-icon>
          <span>{{ months[viewDate.getMonth()] }} {{ viewDate.getFullYear() }}</span>
          <mat-icon (click)="nextMonth()">arrow_right</mat-icon>
        </div>
        <div class="calendar-body">
          <div class="calendar-day-names" >
            <div *ngFor="let day of dayNames">{{ day }}</div>
          </div>
          <div class="calendar-days" >
            <div *ngFor="let day of getCalendarDays()" (click)="!isDisabled(day) ? selectDate(day) : null" [class.selected]="isSelected(day)" [class.disabled]="isDisabled(day)"
            class="calendar-day-item">
              {{ day?.getDate() }}
            </div>
          </div>
        </div>
        <div class="calendar-bottom"  fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="16px">
          <div *ngIf="(data.pickedDate || selectedDate) && selectedButton != 'noDate'" class="selected-date">
            <mat-icon>today</mat-icon>
            <span *ngIf="selectedDate; else pickedDate">{{ selectedDate | date}} </span>
            <ng-template #pickedDate>{{ data.pickedDate  }} </ng-template>
        </div>
          <!-- <div *ngIf="(data.pickedDate || selectedDate) && selectedButton != 'noDate'">
            <mat-icon>today</mat-icon>
            <span *ngIf="selectedDate; else pickedDate">{{ selectedDate | date}} </span>
            <ng-template #pickedDate>{{ data.pickedDate  }} </ng-template>
          </div> -->
          <div class="selected-date" *ngIf="selectedButton == 'noDate'">No Date</div>
      
        <div class="actions">
        <button mat-button class="cancel" (click)="onCancel()">Cancel</button>
        <button mat-button class="save" (click)="onSave()">Save</button>
      </div>
        </div>
      
      </div>
    </div>
