

.header {
  text-align: center;
  margin-bottom: 24px;
}

  .delete-button {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #fff;
    transition: opacity 0.3s ease;
    pointer-events: none;
    opacity: 0;
  }
   
  .delete-button {
    right: 0;
    background-color: #f44336; /* Red */
  }

  .icon_right {
    margin-right: 0px !important;
  }

  .footer{
    position: fixed; /* Fix the footer at the bottom of the viewport */
    bottom: 0; /* Align to the bottom */
    width: 100%; /* Full width */
    display: flex; /* Use flexbox for alignment */
    justify-content: space-between; /* Space between elements */
    align-items: center; /* Center vertically */
    padding: 16px; /* Add some padding */
    background-color: #E6E6E6; /* Optional: background color */
  }

  .delete-info{
    margin-left: 16px; /* Margin to the left */
    font-size: 14px; /* Adjust the font size as needed */
    color: #333; /* Text color */
  }

  .fab_btn {
    margin-right: 16px;
    background-color: #1DA1F2;
  }

  .list_item{
    border-bottom: 1px solid #ccc;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 70px !important;
  }

  .card_header{
    padding: 15px !important;
    background-color: #E6E6E6 !important;
    color:#1DA1F2;
    display: flex;
  justify-content: space-between;
  align-items: center;
  }

  .d-flex {
    display: flex;
    justify-content: space-between;
  }

  .emp_role{
    margin: 0px;
    color:#ccc;
    font-size: 14px;
  }

  .emp_period{
    margin: 0px;
    color:#ccc;
    font-size: 11px;
  }

  .m-0{
    margin: 0px;
  }

  .swipe-container {
    position: relative;
    transition: transform 0.3s ease;  /* Smooth transition back to initial position */
    user-select: none;  /* Prevent text selection while swiping */
  }

  @media (max-width: 768px) {
    /* Adjust flex direction on smaller screens */
    .swipe-content {
      flex-direction: column;
    }
    
    .delete-button {
      display: inline-block;
    }
  
    /* Fab button for small screens */
    .fab_btn {
      position: fixed;
      bottom: 16px;
      right: 16px;
    }
  }